name: Build

on:
  workflow_dispatch:
  push:
    paths:
      - "config/**"
      - "build.yaml"
      - ".github/workflows/build.yml"
  pull_request:
    paths:
      - "config/**"
      - "build.yaml"
      - ".github/workflows/build.yml"

jobs:
  build:
    # ★ 핵심: ZMK 팀이 관리하는 공식 최신 빌드 스크립트를 그대로 가져다 씁니다.
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@main
