name: Build

on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      # ★ 핵심: 5년 전 이미지가 아니라 최신 'stable' 이미지를 사용하도록 변경
      image: zmkfirmware/zmk-build-arm:stable
    name: Build
    strategy:
      fail-fast: false
      matrix:
        include:
          - board: nice_nano_v2
            shield: fin_mouse
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache west modules
        uses: actions/cache@v4
        env:
          cache-name: cache-zephyr-modules
        with:
          path: |
            modules/
            tools/
            zephyr/
            bootloader/
            zmk/
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('manifest-dir/west.yml') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: West Init
        uses: 'zmkfirmware/zephyr-west-action@v2'
        with:
          args: 'update'

      - name: West Build ({{ matrix.shield }})
        uses: 'zmkfirmware/zmk-west-action@v2'
        with:
          args: 'build --pristine --board ${{ matrix.board }} -- -DSHIELD=${{ matrix.shield }} -DZMK_CONFIG="${{ GITHUB.WORKSPACE }}/config"'

      - name: Archive ({{ matrix.shield }})
        uses: actions/upload-artifact@v4
        with:
          name: firmware-${{ matrix.shield }}
          path: build/zephyr/zmk.uf2
